<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <title>Matter</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav class="light-blue">
      <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">Matter</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Make it matter!</a></li>
          <li><a href="/login">Sign in</a></li>
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="/">Make it matter!</a></li>
          <li><a href="/login">Sign in</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
