body {
  background-color: #e1f5fe;
}
.text-accent {
  color: #6200ea !important;
}
.input-field label {
  color: #03A9F4 !important;
}
.input-field input[type="text"]:focus + label {
  color: #6200ea !important;
}
.input-field input[type="text"] {
  border-bottom: 1px solid #03A9F4 !important;
}
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #1565C0 !important;
  box-shadow: 0 1px 0 0 #1565C0 !important;
}
#name-section {
  display: none;
}
